<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
        Pick a person. <input type="text" name="name">
        <br>
        Pick a color. 
        Pink<input type="radio" name="color" value="pink">
        Blue<input type="radio" name="color" value="blue">
        Green<input type="radio" name="color" value="green">
        Purple<input type="radio" name="color" value="purple">
        <br>
        Pick a noun.
        Cat<input type="checkbox" name="noun" value="cat">
        Dog<input type="checkbox" name="noun" value="dog">
        Melon<input type="checkbox" name="noun" value="melon">
        Balloonicorn<input type="checkbox" name="noun" value="balloonicorn">
        <br>
        Pick a adjective.
        <select name="adjective">
            <option value="fun">Fun</option>
            <option value="tenacious">Tenacious</option>
            <option value="smart">Smart</option>
            <option value="crazy">Crazy</option>
        </select>
        Pick a second adjective.
        <select name="second_adjective">
            <option value="stingy">Stingy</option>
            <option value="lovely">Lovely</option>
            <option value="loud">Loud</option>
            <option value="sneaky">Sneaky</option>
        </select>
        
        <br>
        <input type="submit">
        
    </form>
</body>
</html>